body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: url(background.gif);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .img {
    display: flex;
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal (jika ada tinggi tertentu) */
    width: 100px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    /* width: 100%; */
  }
  .kotak1 {
    width: 700px; /*lebar */
    height: 900px; /*tinggi */
    background-color:#E1AFD1;
    border-radius: 10px; /*lengkung sudut */
    display: grid;
    margin: 0 auto; /*mengatur posisi ke tengah*/
    justify-content: center; /*agar di tengah */
    box-shadow: 10px 10px 50px; /*bayangan */
  }
  
  .kotak2 {
    width: 600px;
    height: 750px;
    background-color: #AD88C6;
    border-radius: 10px;
    margin-top: 50px;
  }
  
  .kotak3 {
    width: 400px;
    height: 200px;
    background-color: #7469B6;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .kotak4 {
    width: 400px;
    height: 300px;
    background-color: #E8A0BF;
    display: grid;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .row {
    /*buat baris baru*/
    width: 400px;
    /* text-align: center; */
  }
  .kolom1 {
    width: 30%; 
    float: left; 
    padding: 10px;
 }
  .kolom2 {
    width: 60%; 
    float: left;
    padding: 10px;
  }
  .hargaawal {
    width: 200px;
    padding: 4px;
    border-radius: 5px;
  }
  .diskon {
    width: 50px;
    padding: 4px;
    border-radius: 5px;
  }
  .text1 {
    margin: 10px;
    color:#F9F9F9;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 11px;
  }
  
  .text2 {
    margin: 0 auto;
    margin-top: 2px;
    color:#F9F9F9;
    text-align: left;
    font-size: 18px;
    text-shadow: 2px 2px 11px;
    font-weight: bold;
  }
  .tombol {
    width: 60px;
    padding: 4px;
    border-radius: 5px;
    background-color: #FDEBED;
    color: #A267AC;
    cursor: pointer;
    transition: 1s;
    font-weight: bold;
    text-align: center;
  }
  
  .tombol:hover {
    background: linear-gradient(
      90deg,
      #4f4472,
      #5240b8
    ); /* Efek hover lebih gelap */
  }
  .tabel{
    margin: 0 auto;
    padding: 5px;
    position: absolute;
  }
  .tabel1{
    margin: 10px;
  }
  .text-hasil{
    margin-bottom: 10px;
    color:#F9F9F9;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 11px;
  }